/* Color Variables */
/* Fonts */
/* Components settings */
/* Color Variables */
/* Fonts */
/* Components settings */
/* Animated Button Mixin */
/* Animated Border Mixin */
/* Not Animated Border Mixin */
/* Styles for Contact element */
.contact { max-width: 100vw; min-width: 95vw; }

.contact .container { margin: 0 auto; display: flex; flex-flow: row wrap; justify-content: space-around; width: 100%; }

.contact .container div { margin: 1rem; padding: 2rem; max-width: 90vw; justify-content: center; }

.contact .container div .contact--title { text-align: center; font-size: clamp(1rem, calc(1.5rem + 1vw), 2rem); color: #ff793f; letter-spacing: 1px; }

.contact .container div .contact--description { margin: 1em auto; color: #aaa69d; font-size: clamp(0.8rem, calc(0.8rem + 1vw), 1.5rem); text-align: center; max-width: 700px; z-index: 1; }

.contact .container .contact--info { margin: 2rem; flex: 1; position: relative; border: 3px solid #ff793f; z-index: 0; }

.contact .container .contact--info::after, .contact .container .contact--info::before { content: ''; position: absolute; width: 20%; height: 10%; background: #f7f1e3; z-index: -1; }

.contact .container .contact--info::after { top: -3px; left: -3px; }

.contact .container .contact--info::before { bottom: -3px; right: -3px; }

.contact .container .contact--info .contact--details { list-style-type: none; display: flex; flex-flow: column wrap; justify-content: center; align-items: center; padding: 1em; }

.contact .container .contact--info .contact--details li { position: relative; padding: 1.2rem 0.5rem 1.2rem 0.5rem; text-align: center; color: #aaa69d; overflow: hidden; }

.contact .container .contact--info .contact--details li h3 { font-size: clamp(0.8rem, calc(1.2rem + 1vw), 1.6rem); color: #ff793f; margin: 0; }

.contact .container .contact--info .contact--details li p { margin: 5px; padding: 0.5em; }

.contact .container .contact--info .contact--details li p i { color: #ff5252; }

.contact .container .contact--info .contact--details li:nth-child(odd) p { border-left: 3px solid #ff793f; }

.contact .container .contact--info .contact--details li:nth-child(odd)::before { position: absolute; top: 2em; right: 0; width: 10%; height: 100%; content: ''; background: #ff793f; z-index: -1; transform: skew(-50deg, 0); }

.contact .container .contact--info .contact--details li:nth-child(even) p { border-right: 3px solid #ff5252; }

.contact .container .contact--info .contact--details li:nth-child(even) p i { color: #ff793f; }

.contact .container .contact--info .contact--details li:nth-child(even)::before { position: absolute; top: 2em; left: 0; width: 10%; height: 100%; content: ''; background: #ff5252; z-index: -1; transform: skew(50deg, 0); }

.contact .container .contact--info .map-responsive { overflow: hidden; padding-bottom: 56.25%; position: relative; height: 0; }

.contact .container .contact--info .map-responsive iframe { border: none; left: 0; top: 0; height: 100%; width: 100%; position: absolute; }
