/* Color Variables */
/* Fonts */
/* Components settings */
/* Color Variables */
/* Fonts */
/* Components settings */
/* Animated Button Mixin */
/* Animated Border Mixin */
/* Not Animated Border Mixin */
/* Styles for Header element */
header { z-index: 2; top: 0; width: 100%; display: flex; flex-flow: row wrap; justify-content: center; align-items: center; min-height: 6rem; background: linear-gradient(135deg, #ff5252 30%, #ff793f 20%); font-family: "Glory", sans-serif; color: #f7f1e3; }

header .logo { font-family: "Anton", sans-serif; margin-bottom: 10px; text-decoration: underline; font-size: clamp(5rem, calc(2rem + 1vw), 8rem); padding-inline: clamp(0.01rem, calc(1rem + 1vw), 4rem); }

header .header-quote { text-align: center; font-size: clamp(2rem, calc(1.5rem + 1vw), 3rem); margin-inline: 40px; }

header nav { margin: 0 auto; }

header nav ul { list-style-type: none; display: flex; flex-flow: row nowrap; justify-content: center; padding: 0.5em; }

header nav ul li { flex: 1; display: flex; }

header nav ul li .button { width: 100%; color: #f7f1e3; font-size: clamp(0.01rem, calc(0.7rem + 1vw), 4rem); padding: 0.3em; margin: 0.3em; text-align: center; min-width: 6em; border: 2px solid #f7f1e3; border-radius: 0.5em; background: linear-gradient(45deg, #f7f1e3 50%, transparent 50%); background-size: 300%; background-position: 100% 0; transition: all 1.5s; }

header nav ul li .button:hover { color: #ff5252; background-position: 0 100%; background-size: 600%; }
